* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    /* background-color: aqua; */
}
.one {
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    /* background-image: url(images/bg-pattern-intro-desktop.svg); */
    
    background-size: contain;
    background-repeat: repeat;
    height: 470px;
    border-bottom-left-radius: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}
div.footer {
    margin-top: 70px;
    background-color: hsl(240, 10%, 16%);
    display: flex;
    flex-direction: row;
    height: 300px;
    border-top-right-radius: 90px;
    justify-content: space-around;
    padding-top: 90px;
    align-items: top;
}
p.foot {
    font-family: 'Overpass', sans-serif;
    color: rgb(226, 226, 226);
    font-size: 14px;
    margin: 7px 0px;
}
p.foot:hover {
    border-bottom: solid white 1px;
    width: max-content;
}
h4.foot {
    font-family: 'Overpass', sans-serif;
    color: white;
    margin-bottom: 20px;
}
h2.two {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    color:  hsl(237, 17%, 21%);
    font-size: 30px;
}
h3.two {
    font-family: 'Overpass', sans-serif;
    color:  hsl(237, 17%, 21%);
    font-size: 23px;
    text-align: left;
    margin: 15px 0px;
}
p.two {
    font-family: 'Overpass', sans-serif;
    color: hsl(237, 23%, 32%);
    
}
div.two {
    margin-top: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.three {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(237, 17%, 24%);
    background-image: url(images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: bottom 0px left -50px;
    /* block-size: 70%; */
    background-size: 60%;
    height: 300px;
    border-bottom-left-radius: 170px;
    border-top-right-radius: 170px;
    margin-top: 30px;
}
img.three {
    max-width: 35%;
}
h3.three {
    color: white;
    width: 90%;
    font-size: 30px;
    font-family: 'overpass', sans-serif;
}
.rightt {
    display: flex;
    flex-direction: column;
    width: 45vw;
}
p.three {
    color: white;
    width: 90%;
    font-size: 14px;
    margin-top: 20px;
    line-height: 22px;
    font-family: 'overpass', sans-serif;
}
.flexb {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
img.fb {
    max-width: 48vw;
}
.leftb {
    width: 40vw;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.up, .down {
    width: 50vw;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.up {
    margin-bottom: 30px;
}
h3.two, p.two {
    text-align: left;
    max-width: 40vw;

}
button.bb {
    transition: ease-in-out;
    transition-duration: 1s;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    background: white;
    outline: none;
    border: none;
    color: red;
    font-size: 17px;
    font-weight: 700;
    border-radius: 25px;
    margin-left: 10px;
}
div.ioo {
    flex-direction: row-reverse;
    margin-top: 50px;
}
button.aa {
    width: 100px;
    height: 40px;
    margin-top: 15px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    border-radius: 25px;
    transition: ease-in-out;
    transition-duration: 1s;
}
button.aa:hover {
    width: 130px;
    transition: ease-in-out;
    transition-duration: 1s;
    height: 40px;
    margin-top: 15px;
    background: white;
    outline: none;
    border: none;
    color: red;
    border-radius: 25px;
}
button.bb:hover {
    width: 80px;
    transition: ease-in-out;
    transition-duration: 1s;
    height: 40px;
    margin-top: 15px;
    background: hsl(237, 17%, 21%);
    outline: none;
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    font-weight: normal;
}
.dropp {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    width: 100px;
    background-color: white;
    display: none;

}
.one-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 300px;
}
img.fbi {
    display: none;
}
h1.page {
    color: white;
    text-align: center;
    font-size: 45px;
    font-family: 'Overpass', sans-serif;
}
p.page {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: 'Overpass', sans-serif;
}
button.ab {
    transition: ease-in-out;
    transition-duration: 1s;
    width: 120px;
    height: 40px;
    margin-top: 15px;
    background: white;
    outline: none;
    border: none;
    color: red;
    
    border-radius: 25px;
    margin-left: 10px;
}
button.ba {
    width: 100px;
    height: 40px;
    margin-top: 15px;
    background: transparent;
    outline: none;
    border: solid 2px white;
    color: white;
    border-radius: 25px;
    transition: ease-in-out;
    transition-duration: 1s;
}
button.ba:hover {
    width: 140px;
    transition: ease-in-out;
    transition-duration: 1s;
    height: 40px;
    margin-top: 15px;
    background: white;
    outline: none;
    border: solid 2px hsl(237, 17%, 21%);
    color: red;
    border-radius: 25px;
}
button.ab:hover {
    width: 140px;
    transition: ease-in-out;
    transition-duration: 1s;
    height: 40px;
    margin-top: 15px;
    background: hsl(237, 17%, 21%);
    outline: none;
    border: none;
    color: white;
    border-radius: 25px;
    
}
p.drop {
    color: white;
    font-family: 'Overpass', sans-serif;
}
p.j {
    color: hsl(237, 17%, 21%);
    margin: 7px 0px;
    font-family: 'Overpass', sans-serif;
}
p.j:hover {
    color: red;
}
hr {display: none;}
.connect:hover .dropp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    box-shadow: 1px 1px 8px rgb(179, 170, 170);
    border-radius: 8px;
    padding: 20px 10px;
    justify-content: center;
    background-color: gray;
    
}
.connect {
    position: relative;
}
.dropp {
    
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
}
.nav-body {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
}
label.a {
    display: none;
}
label.b {
    display: none;
}
input {
    display: none;
}
@media (max-width:800px) {
    div.nav {
        display: none;
    }
    label.a {
        display: block;
    }
    input:checked ~ label.b {
        display: block;
    }
    input:checked ~ label.a {
        display: none;
    }
    input:checked ~ .nav {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 80px;
        border-radius: 10px;
        width: 80vw;
        /* right: 10vw; */
        background-color: white;
        padding: 35px 0px;
        box-shadow: 1px 1px 8px rgb(153, 152, 152);
    }
    .nav-body {
        position: relative;
    }
    p.drop {
        color: rgb(36, 36, 36);
    }
    p.j {
        color: black;
    }
    p.drop:hover {
        color: red;
    }
    div.dropp {
        position: relative;
        top: 0;
        width: 80%;
        background-color: rgb(180, 180, 180);
        border-radius: 8px;
        


        

    }
    
    button.i {
        display: none;
    }
    p.drop {
        margin: 10px 0px;
    }
    .connect {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    hr {
        display: block;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    div.connect > p {
        /* width: 16%; */
    }
    button.bb {
        width: 150px;
        height: 40px;
        margin-top: 15px;
        background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        outline: none;
        border: none;
        color: white;
        border-radius: 25px;
    }
    button.aa {
        width: 150px;
        height: 40px;
        margin-top: 15px;
        background: transparent;
        outline: none;
        border: none;
        color: black;
        border-radius: 25px;
    }
    button.aa:hover {
        width: 100px;
        transition: ease-in-out;
        transition-duration: 1s;
        height: 40px;
        margin-top: 15px;
        background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        outline: none;
        border: none;
        color: white;
        border-radius: 25px;
    }
    button.bb:hover {
        width: 100px;
        transition: ease-in-out;
        transition-duration: 1s;
        height: 40px;
        margin-top: 15px;
        background: linear-gradient(to right, hsl(0, 0%, 83%), hsl(60, 1%, 34%));
        outline: none;
        border: none;
        color: white;
        border-radius: 25px;
    }button.bb {
    width: 150px;
    height: 40px;
    margin-top: 15px;
    background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    outline: none;
    border: none;
    color: white;
    border-radius: 25px;
    }
    button.aa {
        width: 150px;
        height: 40px;
        margin-top: 15px;
        background: transparent;
        outline: none;
        border: none;
        color: black;
        border-radius: 25px;
    }
    button.aa:hover {
        width: 100px;
        transition: ease-in-out;
        transition-duration: 1s;
        height: 40px;
        margin-top: 15px;
        background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        outline: none;
        border: none;
        color: white;
        border-radius: 25px;
    }
    button.bb:hover {
        width: 100px;
        transition: ease-in-out;
        transition-duration: 1s;
        height: 40px;
        margin-top: 15px;
        background: linear-gradient(to right, hsl(0, 0%, 83%), hsl(60, 1%, 34%));
        outline: none;
        border: none;
        color: white;
        border-radius: 25px;
    }
    h1.page {
        font-size: 30px;
        font-weight: 600;
        width: 75%;
        /* margin-bottom: 0px; */
    }
    .flexb {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }
    img.fbi {
        display: block;
        width: 90vw;
        max-width: 90vw;
    }
    img.fb {
        display: none;
    }
    .leftb {
        width: 90vw;
    }
    h3.two {
        width: 60vw;
        max-width: 50vw;
        text-align: center;
        /* margin: 20px 0px; */
    }
    h2.two {
        margin: 20px 0px;
        margin-bottom: 40px;
    }
    .leftb, .up, .down {
        align-items: center;
        width: 100vw;
    }
    p.two {
        text-align: center;
        width: 80vw;
        max-width: 80vw;
    }
    .up {
        margin-top: 19px;
    }
    .down {
        margin-bottom: 15px;
    }
    div.three {
        display: flex;
        flex-direction: column;
        background-size: cover;
        height: auto;
        margin-top: 270px;
        /* position: relative; */
        max-width: 100vw;
    }
    img.three {
        max-width: 80vw;
        
        margin-top: -170px;
    }
    .one {
        border-bottom-left-radius: 110px;
    }
    div.three {
       
        border-top-right-radius: 150px;
        border-bottom-left-radius: 150px;
        background-repeat: no-repeat;
        margin-bottom: 40px;
        background-position: top -900px;
        
    }
    h3.three, p.three {
        text-align: center;
    }
    p.three {
        margin-bottom: 130px;
    }
    div.rightt {
        width: 85vw;
    }
    div.footer {
        margin-top: 70px;
        background-color: hsl(240, 10%, 16%);
        display: flex;
        flex-direction: column;
        height: auto;
        border-top-right-radius: 120px;
        justify-content: center;
        padding: 80px 0px;
        align-items: center;
        text-align: center;
    }
    .product, .company, .connect {
        margin-top: 40px;
    }
    p.foot {
        /* width: min-content; */
        text-align: center;

    }
    h4.foot {
        text-align: center;
    }
    p.foot:hover {
        text-align: center;
    }
    

}